@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&family=Jura:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Noto+Serif+KR:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Jura:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Noto+Serif+KR:wght@400;500;600;700;900&display=swap');
/**---전 항목 공통---**/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    position: relative;
}
section{
    z-index: 1;
}
.wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
.scroll-down{
    z-index: 11;
    position: fixed;
    width: 42px;
    height: 64px;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 82px;
    border: 2px solid rgb(163, 163, 163);
    border-radius: 50px;
}
.scroll-down::before, .scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid rgb(163, 163, 163);
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: MoveArrow 1s ease-in-out infinite;
}
@keyframes MoveArrow{
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}

html, body { max-width: 100%; overflow-x: hidden; }

/**---네비게이션 적용(공통)---**/
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
}
.sub_nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.menubar{
    width: 1000px;
    height: 34px;
    border: 0px solid blue;
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 150px;
    height: 34px;
    border: 0px solid green;
    text-align: center;
    margin-top: 0px;
}
.menu > a{
    color: rgb(53, 53, 53);
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 26px;
}
.menu > a:hover{
    color: #EE8357;
    font-weight: 700;
}


/**---푸터 적용 (공통)---**/
footer{
    width: 100%;
    height: 100px;
    background-color: #FFF8E8;
}
.footer_img{
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid red;
}
.logo_position{
    width: 619px;
    height: 43px;
    justify-content: center;
    background-position: center;
    align-items: center;
    border: 0px solid red;
}
.copyright {
    color:#383838;
    font: 14px 'IBM Plex Sans KR', sans-serif;
    padding-top: 0px;
    text-align:right;
}

/**---인덱스---**/
.index_wrap{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.index_bg{
    width: 100%;
    height: 1080px;
    background-image: url('img/ind_01.png');
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.index_box{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.index_box > a{
    position: absolute;
    top: 157.7px;
}

.index_box{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-ms-transition:.3s;
	-o-transition:.3s;
	transition:.3s;
}

.index_box:hover{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);	
	-o-transform:scale(1.2);
	transform:scale(1.2);
}

/**---메인---**/
.bg01{
    background-image: url('img/bg_01.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
}

.bg02{
    background-image: url('img/bg_02.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.about{
    margin: 0 auto;
    text-align: center;
    margin-top:115px;
}
.about > h2 {
    font-size: 30px;
    color: #EE8357;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
}

.about > h1 {
    font: 53px 'IBM Plex Sans KR', sans-serif;
    color: #39353E;
    font-weight: 600;
    margin-top: 8px;
    letter-spacing: -0.05em;
}

.about > p {
    font: 22px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    margin-top:44px;
    color: #878787;
    letter-spacing: -0.05em;
}

.aboutme {
    top: 265px;
    right: 107px;
}

.bg03{
    background-image: url('img/bg_03.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-attachment: fixed;
}

.int > h1 {
    font: 20px 'IBM Plex Sans KR', sans-serif;
    color: #454545;
    font-weight: 400;
    margin-top: 85px;
    margin-left: 93px;
    letter-spacing: -0.05em;
}

.int > h2 {
    font: 24px 'IBM Plex Sans KR', sans-serif;
    color: #EE8357;
    font-weight: 600;
    margin-top: -220px;
    margin-left: 550px;
    letter-spacing: -0.04em;
    line-height: 285px;
}

.int > h3 {
    font: 20px 'IBM Plex Sans KR', sans-serif;
    color: #434343;
    font-weight: 300;
    margin-top: -670px;
    margin-left: 550px;
    letter-spacing: -0.04em;
    line-height: 35px;
}

.int > h4 {
    font: 20px 'IBM Plex Sans KR', sans-serif;
    color: #434343;
    font-weight: 300;
    margin-top: 140px;
    margin-left: 550px;
    letter-spacing: -0.04em;
    line-height: 35px;
}

.int > h5 {
    font: 20px 'IBM Plex Sans KR', sans-serif;
    color: #434343;
    font-weight: 300;
    margin-top: 145px;
    margin-left: 550px;
    letter-spacing: -0.03em;
    line-height: 33px;
}

.bg04{
    background-image: url('img/bg_04.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.tit_field{
    width: 1000px;
    height: 100%;
    border: 0px solid red;
    position: relative;
}
.img_tit{
    border: 0px solid blue;
    display: inline-block;
    position: absolute;
}
.img_tit_01{
    bottom: 87px;
    right: 286px;
    -webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);	
	-o-transform:scale(1);	
	transform:scale(1);
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-ms-transition:.3s;
	-o-transition:.3s;
	transition:.3s;
}
.img_tit_01:hover{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);	
	-o-transform:scale(1.2);
	transform:scale(1.2);
}
.img_tit_02{
    left: 90px;
    top: 55px;
}
.img_tit_03{
    left: 87px;
    top: 226px;
}
.img_tit_03_1{
    left: 750px;
    top: 720px;
}
.img_tit_04{
    right: 90px;
    top: 113px;
}
.cont{
    display: flex;
}
.item{
    width: 35%;
    top: 570px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    transition: all 1s;
}
.txt{
    position: absolute;
    background-color: #ffffff;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -5px;
    padding: 13px;
    opacity: 0;
    transition: all 0.5s;
}
.txt h2{
    font-family: 'Jura', sans-serif;
    font-size: 1.5em;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.uiux{
    color: #3412A7;
}
.edit{
    color: #464039;
}
.pack{
    color: #648FCC;
}
.iden{
    color: #1690CB;
}
.cont .item:hover{
    width: 50%;
    opacity: 1;
    transition: all 0.5s;
}
.item:hover .txt{
    opacity: 1;
    transition: all 0.5s;
}
.with > h1 {
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #EE8357;
    margin-top: 270px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/**--서브페이지01--**/
.sub01_tit_field{
    width: 1000px;
    height: 1080px;
    border: 0px solid red;
    position: relative;
}
.sub01_bg01{
    background-image: url('img/sub01_01.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}
.sub01_img_tit_01{
    top: 354px;
    left: 242px;
}
.sub01_bg02{
    background-image: url('img/sub01_02.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.sub01_img_tit_02{
    top: 72px;
    left: 289px;
    margin: 0 auto;
    text-align: center;
}

.ui_ux{
    margin: 0 auto;
    text-align: center;
    margin-top: 85px;
}
.ui_ux > h2 {
    font-size: 30px;
    color: #3412A7;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
}

.ui_ux > h1 {
    font: 50px 'IBM Plex Sans KR', sans-serif;
    color: #39353E;
    font-weight: 600;
    margin-top: 3px;
    letter-spacing: -0.05em;
}

.ui_ux > p {
    font: 18px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    margin-top:25px;
    color: #878787;
    letter-spacing: -0.05em;
}
.sub01_bg03{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 198px;
    display: flex;
    background-size:cover;
}
.sub01_img_tit_03{
    top: 55px;
    left: 277px;
    margin: 0 auto;
    text-align: center;
}
.sub01_img_tit_03_1{
    top: -800px;
    left: 1050px;
}
.uiux_03 > p {
    margin: 0 auto;
    text-align: center;
    top: -680px;
    left: 1080px;
    letter-spacing: -0.05em;
}
.uiux_03 > p {
    font: 18px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    margin-top: -35px;
    color: #707070;
    text-align:left;
    font: 23px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -0.05em;
}
.uiux_03_1 {
    font: 17px 'Jura', sans-serif;
    font-weight: 400;
    margin-top: -635px;
    margin-left: 370px;
    color: #707070;
    text-align:left;
}
.sub01_bg04{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -67px;
    display: flex;
    background-size:cover;
}
.sub01_img_tit_04{
    top: 0px;
    left: -80px;
    margin: 0 auto;
    text-align: center;
}
.uiux_04 {
    font: 17px 'Jura', sans-serif;
    font-weight: 400;
    margin-top: -815px;
    margin-right: 220px;
    color: #707070;
    text-align:right;
}

/**--서브페이지02--**/
.sub02_tit_field{
    width: 1000px;
    height: 1080px;
    border: 0px solid red;
    position: relative;
}
.sub02_bg01{
    background-image: url('img/sub02_01.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
}
.sub02_img_tit_01{
    top: 354px;
    left: 242px;
}
.sub02_bg02{
    background-image: url('img/sub02_02.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.sub02_img_tit_02{
    top: 112px;
    left: 248px;
    margin: 0 auto;
    text-align: center;
}
.editorial{
    margin: 0 auto;
    text-align: center;
    margin-top: 85px;
}
.editorial > h2 {
    font-size: 30px;
    color: #464039;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
}

.editorial > h1 {
    font: 50px 'IBM Plex Sans KR', sans-serif;
    color: #39353E;
    font-weight: 600;
    margin-top: 3px;
}

.editorial > p {
    font: 18px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    margin-top:25px;
    color: #878787;
}
.sub02_bg03{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 233px;
}
.sub02_img_tit_03{
    top: 18px;
    left: 277px;
    margin: 0 auto;
    text-align: center;
}
.sub02_img_tit_03_1{
    top: -1030px;
    left: 1060px;
}
.edit_03 > p {
    margin: 0 auto;
    text-align: center;
    top: -845px;
    left: 1080px;
    letter-spacing: -0.05em;
}
.edit_03 > p {
    font: 18px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    margin-top: -35px;
    color: #707070;
    text-align:left;
    font: 23px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -0.05em;
}
.edit_03_1 {
    font: 17px 'Jura', sans-serif;
    font-weight: 400;
    margin-top: -800px;
    margin-left: 370px;
    color: #707070;
    text-align:left;
    line-height: 25px;
}
.sub02_bg04{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -67px;
}
.sub02_img_tit_04{
    top: -50px;
    left: -80px;
    margin: 0 auto;
    text-align: center;
}
.edit_04{
    font: 17px 'Jura', sans-serif;
    font-weight: 400;
    margin-top: -690px;
    margin-right: 230px;
    color: #707070;
    text-align:right;
}

/**--서브페이지03--**/
.sub03_tit_field{
    width: 1000px;
    height: 1080px;
    border: 0px solid red;
    position: relative;
}
.sub03_bg01{
    background-image: url('img/sub03_01.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
}
.sub03_img_tit_01{
    top: 354px;
    left: 242px;
}
.sub03_bg02{
    background-image: url('img/sub03_02.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.sub03_img_tit_02{
    top: 80px;
    left: 319px;
    margin: 0 auto;
    text-align: center;
}
.package{
    margin: 0 auto;
    text-align: center;
    margin-top: 85px;
}
.package > h2 {
    font-size: 30px;
    color: #648FCC;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
}

.package > h1 {
    font: 50px 'IBM Plex Sans KR', sans-serif;
    color: #39353E;
    font-weight: 600;
    margin-top: 3px;
}

.package > p {
    font: 18px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    margin-top:25px;
    color: #878787;
}
.sub03_bg03{
    width: 100%;
    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 237px;
    margin-left: 32px;
}
.sub03_img_tit_03{
    top: 17px;
    left: 245px;
    margin: 0 auto;
    text-align: center;
}
.sub03_img_tit_03_1{
    top: -890px;
    left: 1050px;
}
.pack_03 > p {
    margin: 0 auto;
    text-align: center;
    top: -815px;
    left: 1055px;
    letter-spacing: -0.05em;
}
.pack_03 > p {
    font: 18px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    margin-top: -35px;
    color: #707070;
    text-align:left;
    font: 23px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -0.05em;
}
.pack_03_1 {
    font: 17px 'Jura', sans-serif;
    font-weight: 400;
    margin-top: -785px;
    margin-left: 340px;
    color: #707070;
    text-align:left;
}
.sub03_bg04{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -67px;
}
.sub03_img_tit_04{
    top: -115px;
    left: -65px;
    margin: 0 auto;
    text-align: center;
}
.pack_04{
    font: 17px 'Jura', sans-serif;
    font-weight: 400;
    margin-top: -620px;
    margin-right: 105px;
    color: #707070;
    text-align:right;
}
.sub03_bg05{
    width: 100%;
    height: 100vh;
    background-image: url('img/sub03_tit_05.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -137px;
}

/**--서브페이지04--**/
.sub04_tit_field{
    width: 1000px;
    height: 1080px;
    position: relative;
}
.sub04_bg01{
    background-image: url('img/sub04_01.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
}
.sub04_img_tit_01{
    top: 354px;
    left: 242px;
}
.sub04_bg02{
    background-image: url('img/sub04_02.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.sub04_img_tit_02{
    top: 44px;
    left: 270px;
    margin: 0 auto;
    text-align: center;
}
.identity{
    margin: 0 auto;
    text-align: center;
    margin-top: 85px;
}
.identity > h2 {
    font-size: 30px;
    color: #648FCC;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
}

.identity > h1 {
    font: 50px 'IBM Plex Sans KR', sans-serif;
    color: #39353E;
    font-weight: 600;
    margin-top: 3px;
}

.identity > p {
    font: 18px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    margin-top:25px;
    color: #878787;
}
.sub04_bg03{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 252px;
    margin-left: 92px;
}
.sub04_img_tit_03{
    top: -3px;
    left: 185px;
    margin: 0 auto;
    text-align: center;
}
.sub04_img_tit_03_1{
    top: -1055px;
    left: 980px;
}
.iden_03 > p {
    margin: 0 auto;
    text-align: center;
    top: -820px;
    left: 980px;
    letter-spacing: -0.05em;
}
.iden_03 > p {
    font: 18px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    margin-top: -35px;
    color: #707070;
    text-align:left;
    font: 23px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -0.05em;
}
.iden_03_1 {
    font: 17px 'Jura', sans-serif;
    font-weight: 400;
    margin-top: -785px;
    margin-left: 290px;
    color: #707070;
    text-align:left;
}
.sub04_bg04{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -250px;
    left: 328px;
}
.iden_04{
    font: 17px 'Jura', sans-serif;
    font-weight: 400;
    margin-top: -980px;
    margin-right: -137px;
    color: #707070;
    text-align:right;
}
.sub04_bg05{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
    left: -80px;
}
.iden_05{
    font: 20px 'IBM Plex Sans KR', sans-serif;
    font-weight: 400;
    margin-top: -520px;
    margin-right: -228px;
    color: #707070;
    text-align:right;
}